@charset "UTF-8";
/*                Обнуление
==============================================*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9375em;
  /* 15px */
}

@media (min-width: 320px) {
  :root {
    font-size: calc(0.0046875 * 100vw + 13.5px);
  }
}

@media (min-width: 960px) {
  :root {
    font-size: 1.125em;
    /* 18px */
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:active {
  color: #b81414;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

/*              База
=====================================*/
body {
  font-family: 'Fira Sans', sans-serif;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

p {
  font-weight: 300;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.3em;
  color: #000000;
  padding: 1em 0;
}

/*              Шапка
=====================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: .3em 0;
  z-index: 5;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.7em;
}

/*
    Лого
*/
.header__logo {
  z-index: 999;
}

.header__logo a {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 300;
}

/*
    Бургер
*/
.header__burger {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 30px;
  z-index: 999;
}

.header__burger::after, .header__burger::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header__burger::after {
  top: 0;
}

.header__burger::before {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.header__burger.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 14px;
}

.header__burger.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 14px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

/*
    Меню
*/
.header__menu {
  position: fixed;
  top: -100%;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: auto;
}

.header__menu.active {
  top: 0;
  right: 0;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__links li {
  margin: 0 0 2em 0;
}

.header__links li:last-child {
  margin: 0 0 0 0;
}

.header__link {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: 760px) {
  /*
        Бургер
    */
  .header__burger {
    display: none;
  }
  /*
        Меню
    */
  .header__menu {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__links li {
    margin: 0 0 0 1.5em;
  }
  .header__links li:last-child {
    margin: 0 0 0 1.5em;
  }
  .header__links li:first-child {
    margin: 0 0 0 0;
  }
  .header__link {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
  }
}

/*              intro
=====================================*/
/*
    intro
*/
.intro {
  background-color: #000000;
}

.intro__body {
  margin: 2.7em 0 0 0;
  /* высота .header__body */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
    Текст
*/
.intro__txt {
  color: #fff;
  text-align: center;
}

.intro__title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3em;
  padding: .5em 0;
}

.intro_subtitle {
  font-weight: 300;
  font-style: italic;
}

/*
    Картинка
*/
.intro__img {
  width: 60%;
}

.intro__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 760px) {
  /*
        intro
    */
  .intro__body {
    margin: 2.7em 0 0 0;
    /* высота .header__body */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /*
        Картинка
    */
  .intro__img {
    width: 35%;
  }
}

/*              work
=====================================*/
/*
    Work
*/
.work h2 {
  text-align: center;
}

/*
    cards
*/
.work__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  max-width: 100%;
  margin: 0 0 1.5em 0;
  -webkit-box-shadow: 0 0 3px #000000;
          box-shadow: 0 0 3px #000000;
  background-color: #f3f3f3;
  overflow: hidden;
  padding: 1em;
}

.card:hover .card__imgbx img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card__imgbx {
  width: 100%;
  overflow: hidden;
}

.card__imgbx img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__content h3 {
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

.card__content p {
  text-align: justify;
  text-indent: 1em;
  margin: 0 0 1em 0;
}

.card__content a {
  font-size: 1rem;
  padding: 0.5em 1.5em;
  color: #fff;
  background-color: #1965bd;
  cursor: pointer;
}

@media (min-width: 760px) {
  /*
        cards
    */
  .work__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card {
    max-width: 49%;
  }
}

/*              contacts
=====================================*/
.contacts {
  margin: 0 0 5em 0;
}

.contacts h2 {
  text-align: center;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 3em 0;
}

.contacts__info p {
  display: block;
  font-size: 1.4rem;
  padding: 0.8em;
}

.messadge input {
  border: 1px solid #000;
  padding: 0.5em;
  outline: none;
}

.messadge input:focus {
  border: 1px solid #b81414;
}

.messadge textarea {
  margin: 1em 0 1em 0;
  border: 1px solid #000;
  width: 100%;
  outline: none;
  padding: 0.5em;
}

.messadge textarea:focus {
  border: 1px solid #b81414;
}

.messadge button {
  padding: 0.8em 2em;
  font-size: 1rem;
}

.button__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__send {
  background-color: #1965bd;
  color: #fff;
}

.button__reset {
  background-color: #b81414;
  color: #fff;
}

@media (min-width: 760px) {
  .contacts__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
