/*      Сброс/resset
===========================*/
:root {
    font-size: calc(1vw + 0.6em); // при экране 1680px = 20px ((20px-16.8px)/16px=0.2em)
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/*
* Ссылки
*/

a:link 
{
    color: #1430b8;
    text-decoration: none;
}

a:visited 
{
    color: #1430b8;
}

a:hover 
{
    text-decoration: underline;
}

a:active 
{
    color: #b81414;
}