// Цвета
$color-wheit:#fff;
$color-blu:#1965bd;
$color-dark:#000000;

.work 
{

}
.work__title 
{
    font-size: 3rem;
    text-align: center;
    color: #252525;
    margin: 1em 0;
    font-weight: 300;
    border-bottom: 2px solid #252525;
}
.work__card 
{
}
.work__card__img 
{
}
.work__card__title 
{
}
.work__card__link 
{
}