// Цвета
$color-wheit:#fff;
$color-blu:#1965bd;
$color-dark:#000000;
$color-silver:#eeeeee;

/*
    Work
*/
.work 
{
    // margin: 0 0 2em 0;
    h2 
    {
        text-align: center;
        
    }
}


/*
    cards
*/
.work__cards 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.card 
{
    max-width: 100%;
    margin: 0 0 1.5em 0;
    box-shadow: 0 0 3px #000000;
    background-color: rgb(243, 243, 243);
    overflow: hidden;
    padding: 1em;

    &:hover .card__imgbx img 
    {
        transform: scale(1.2, 1.2);
        transition: all .3s ease;
    }
}

.card__imgbx 
{
    width: 100%;
    overflow: hidden;

    img
    {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: top;
        transition: all .3s ease;
    }
}
.card__content 
{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 
    {
        font-size: 1.5rem;
        font-weight: 400;
        align-items: center;
        padding: .5em 0;
    }

    p 
    {
        text-align: justify;
        text-indent: 1em;
        margin: 0 0 1em 0;
    }

    a 
    {
        font-size: 1rem;
        padding: 0.5em 1.5em;
        color: $color-wheit;
        background-color: $color-blu;
        cursor: pointer;
    }
}

@media (min-width:760px)
{
    /*
        cards
    */
    .work__cards 
    {
        justify-content: space-between;
    }

    .card 
    {
        max-width: 49%;
    }
}