@import '_nulstyle';


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background: rgb(29, 28, 28);
}

h1 {
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-size: 5rem;
    font-weight: 700;
}

h3 {
    font-size: 4rem;
    font-weight: 600;
}

p {
    margin: 0px 0px 15px 0px;
    line-height: 1.5rem;
}

a {
    color: rgb(0, 151, 252)
}

.marking {
    max-width: 940px;
    margin: auto;
}

@import 'maket/_header';
@import 'maket/_page-grid';