@import "_nulstyle";

$color__neon__red: #fe3218;
$color__neon__yellow: #ff911a;
$color__neon__pink: #e100f5;
$color__neon__blu: #450eff;
$color__neon__dbluered: #21006f;



body {
    background: #ffffff;

    padding: 30px;
}
