@import "_nulstyle";
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
//font-family: 'Merienda One', cursive;
//font-family: 'Open Sans', sans-serif;


body{
    font-family: 'Open Sans', sans-serif
}

.marking {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: 'Merienda One', cursive;
    font-size: 72px;
    padding-bottom: 50px;
    color: #ffffff;

    span {
        font-size: 92px;
        color: #ff0000;
    }
    
}

@media (max-width:939px){
    .marking {
        max-width: 100%;
        padding: 0px 15px 0px 15px;
    }
}

@media (max-width:769px){
    .marking {
        max-width: 100%;
        padding: 0px 15px 0px 15px;
    }
}

//===============================================
//================ footer
//===============================================

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #36323265;
}

header .marking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .logo__text {
        font-family: 'Merienda One', cursive;
        font-size: 1.5em;
        color: #ffffff;

        width: 37%;

        span {
            font-size: 1.4em;
            color: #ff0000;
        }
    }

    nav{
        width: 63%;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
            padding: 20px 0px 20px 0px;
        
            .nav__link {
                font-weight: 700;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
            }
        }
    }
}

@media (max-width:769px){
    header .marking {
        padding-top: 10px;
        flex-direction: column;

        .logo__text {
            width: 100%;
            padding-bottom: 10px;
            text-align: center;
        }

        nav {
            width: 90%;
        }
    }
}

@media (max-width:480px) {
    header {

        background-image: url(../img/intro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

        .marking nav {
            width: 100%;
    
            ul {
                flex-direction: column;
    
                .nav__link {
                    display: block;
                    text-align: center;
                    padding: 10px 0px 10px 0px;
                }
            }
        }

    }
}
//===============================================
//================ intro
//===============================================

.intro {
    max-width: 100%;
    min-height: 75vh;
    background: url(../img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .marking {
        display: flex;
        min-height: 75vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .intro__sub {
            width: 100%;
            font-family: 'Merienda One', cursive;
            text-align: center;
            font-size: 1.5em;
            font-style: italic;
            color: #ffffff;
            font-weight: 400;
            opacity: .8;
        }
    }
}

@media (max-width:769px){
    .intro {
        min-height: 400px;
    
        .marking {
            min-height: 400px;
        }
    }
}

@media (max-width:480px){
    .intro {

        display: none;
        // background-image: none;
        
        // .marking  {
        //     .h1 {
        //         display: none;
        //     }
    
        //     .intro__sub {
        //         display: none;
        //     }
        // }
    }
}