@import "_nulstyle";
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
//font-family: 'Merienda One', cursive;
//font-family: 'Open Sans', sans-serif;


body{
    font-family: 'Open Sans', sans-serif
}

.marking {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: 'Merienda One', cursive;
    font-size: 72px;
    padding-bottom: 50px;
    color: #ffffff;

    span {
        font-size: 92px;
        color: #ff0000;
    }
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
    color: #1f1f1f;

    span {
        font-size: 30px;
        color: #ff0000;
    }
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    color: #424242;
}

@media (max-width:939px){
    .marking {
        max-width: 100%;
        padding: 0px 15px 0px 15px;
    }
}

@media (max-width:769px){
    .marking {
        max-width: 100%;
        padding: 0px 15px 0px 15px;
    }
}

//===============================================
//================ footer
//===============================================

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #36323265;
}

header .marking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .logo__text {
        font-family: 'Merienda One', cursive;
        font-size: 1.5em;
        color: #ffffff;

        width: 37%;

        span {
            font-size: 1.4em;
            color: #ff0000;
        }
    }

    nav{
        width: 63%;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        
            .nav__link {
                display: inline-block;
                position: relative;
                font-weight: 700;
                text-transform: uppercase;
                padding: 20px 10px 20px 10px;
                color: rgb(255, 255, 255);
                overflow: hidden;
                transition: .7s;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 90%;
                    left: -100%;
                    width: 100%;
                    height: 5px;
                    background-color: #ff0000;
                }

                &:hover:before {
                    top: 90%;
                    left: 0;

                    transition: .7s;
                }
            }
        }
    }
}

@media (max-width:769px){
    header .marking {
        padding-top: 10px;
        flex-direction: column;

        .logo__text {
            width: 100%;
            padding-bottom: 10px;
            text-align: center;
        }

        nav {
            width: 90%;
        }
    }
}

@media (max-width:480px) {
    header {

        position: relative;
        top: 0;
        left: 0;

        background-image: url(../img/intro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;

        .marking nav {
            width: 100%;
    
            ul {
                flex-direction: column;
    
                .nav__link {
                    display: block;
                    text-align: center;
                    padding: 10px 0px 10px 0px;
                }
            }
        }

    }
}
//===============================================
//================ intro
//===============================================

.intro {
    max-width: 100%;
    min-height: 75vh;
    background: url(../img/intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .marking {
        display: flex;
        min-height: 75vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .intro__sub {
            width: 100%;
            font-family: 'Merienda One', cursive;
            text-align: center;
            font-size: 1.5em;
            font-style: italic;
            color: #ffffff;
            font-weight: 400;
            opacity: .8;
        }
    }
}

@media (max-width:769px){
    .intro {
        min-height: 400px;
    
        .marking {
            min-height: 400px;
        }
    }
}

@media (max-width:480px){
    .intro {

        display: none;
    }
}

//===============================================
//================ work
//===============================================

.work {
    padding: 40px 0px 40px 0px;
    
    .work__card {
        width: 100%;
        display: flex;
        
        align-items: center;

        padding-bottom: 40px;
        
        .work__card__img-box {
            width: 10%;
            margin-right: 50px;
            
            .work_card_img {
                width: 100%;
                display: block;
            }
        }

        .text {
            width: 100%;
            text-align: justify;
        }
    }
}





