/*                === header ===
============================================*/
header{
    width: 100%;
    min-height: 10vh;
    background: rgb(20, 20, 20);

    display: flex;
    align-items: center;
}

nav {
    width: 940px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 2rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
        position: relative;

        transition: color .5s ease;

        span {
            color: rgb(252, 71, 0)
        }

        &:hover {
            color: rgb(252, 71, 0)
        }
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul li a {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        padding: 10px 20px 10px 20px;
        color: #fff;
        transition: color .5s ease;
        
        &:hover {
            color: rgb(0, 151, 252);
        }

    }
}
/*                
============================================*/